.banner {
    background-image: url("../../../assets/images/homeBanner.png");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg_shadow {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .5);
}